.btn-primary {
    background-color: transparent;
    border-color: transparent;
    color: #b3b4b4;
}

.fc-daygrid-event {
    font-size: .85rem;
}

#event-modal-card {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 999;
}

#setting-button {
    position: absolute;
}

#setting-modal-cross {
    position: relative;
    right: 0;
    top: 0;
}

.setting-select-area {
    width: 178px;
    height: 261px;
    border-radius: 25px;
    padding-left: 2rem;
    padding-top: 2.5rem;
}

.modal-body {
    word-wrap: break-word;
}

.modal-dialog {
    margin: 0 !important;
    min-width: 600px;
}